<div class="page-header">
  <h1>
    Meetings
    <a href="/meetings/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Contact</th>
          <th>Event</th>
          <th>Company</th>
          <th>Industry</th>
          <th>Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td><a href="/contacts/<%=meeting.contact_id%>"><%= meeting.contact.firstname %>
                <%= meeting.contact.lastname %></a>
            </td>
            <td><a href="/events/<%=meeting.event_id%>"><%= meeting.event.name %></td>
            <td><a href="/companies/<%=meeting.contact.company_id%>"><%= meeting.contact.company.name %></a></td>
            <td><a href="/industries/<%=meeting.contact.company.industry_id%>"><%= meeting.contact.company.industry.name %></a></td>
            <td><%= meeting.event.date.strftime("%m/%d/%Y") %></a></td>
            <td>
              <a href="/meetings/<%= meeting.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
            <td>
              <a href="/meetings/<%= meeting.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="/delete_meeting/<%= meeting.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->
