<!-- Simple full-width example-->

<div class="page-header">
  <h1>Meeting #<%= @meeting.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Contact</dt>
<!--       <dd><td><%= @meeting.user.firstname %></td></dd> -->
      <dd><a href="/contacts/<%=@meeting.contact_id%>"><%= @meeting.contact.firstname %> <%= @meeting.contact.lastname%></a></dd>


      <dt>Event</dt>
      <dd><a href="/events/<%=@meeting.event_id%>"><%= @meeting.event.name %></a></dd>

      <dt>Date</dt>
      <dd><%= @meeting.event.date.strftime("%m/%d/%Y") %></dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/meetings" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/meetings/<%= @meeting.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_meeting/<%= @meeting.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->

