<!-- Simple full-width example-->

<div class="page-header">
  <h1>Function #<%= @function.id %>: <%= @function.name %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @function.name %></dd>

    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
        <dt>Contacts</dt>
          <dd>
            <ul>
              <% @function.contacts.uniq.each do |contact| %>
                <li><a href="/contacts/<%=contact.id%>"><%= contact.fullname %></a></li>
              <% end %>
            </ul>
          </dd>
      </dl>
    </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
        <dt>Companies</dt>
          <dd>
            <ul>
              <% @function.companies.uniq.each do |company| %>
                <li><a href="/companies/<%=company.id%>"><%= company.name %></a></li>
              <% end %>
            </ul>
          </dd>
      </dl>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/functions" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/functions/<%= @function.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_function/<%= @function.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>



    </dl>

  </div>
</div>

<!-- End simple full-width example-->

