<!-- Simple full-width example-->

<div class="page-header">
  <h1>Industry #<%= @industry.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @industry.name %></dd>

        <dt>Companies</dt>
          <dd>
            <ul>
              <% Company.where({ :industry_id => @industry.id }).each do |company| %>
                <li><a href="/companies/<%=company.id%>"><%= company.name %></a></li>
              <% end %>
            </ul>
          </dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/industries" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/industries/<%= @industry.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_industry/<%= @industry.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->
