  <div class="container">


    <div class="page-header">
      <h1>
        Contact Tracker.
      </h1>
    <div class="align-right">
    <div class="col-md-12">
    <div class="col-md-9 text-right">
      <h3>
        <em>How do you connect?</em>
      </h3>
    </div>
    </div>
    </div>
    </div>



    <div class="row row-centered">
      <div class="col-md-3">
        <a class="btn btn-primary btn-main" href="/contacts/new" target="_blank">Add a contact</a>
      </div>

      <div class="col-md-3">
        <a class="btn btn-primary btn-main" href="/events/new" target="_blank">Add an event</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-primary btn-main" href="/events/new" target="_blank">Add a meeting</a>
      </div>
    </div>

    <div class="row">
      <h3> Most Popular</h3>
    </div>
    <div class="row row-centered">
      <div class="col-md-3">
        Companies
        <ul>
          <% @company_contactcount.each do |company| %>
            <li><a href="/companies/<%=company.id%>"><%= company.name %></a></li>
        <% end %>
          </ul>
      </div>

    <div class="col-md-3">
        Locations
          <ul>
          <% @location_contactcount.each do |location| %>
            <li><a href="/locations/<%= location.id%>"><%= location.city %></a></li>

        <% end %>
          </ul>
      </div>

      <div class="col-md-3">
        Events
          <ul>
          <% @event_contactcount.each do |event| %>
            <li><a href="/events/<%= event.id%>"><%= event.name %></a></li>

        <% end %>
          </ul>
      </div>

  </div>




    <div class="row">
      <h3> Recently Added</h3>
    </div>
    <div class="row row-centered">
      <div class="col-md-3">
        Companies
          <ul>
          <% @company_recent.each do |company| %>
            <li><a href="/companies/<%= company.id%>"><%= company.name %></a></li>

        <% end %>
          </ul>
      </div>

      <div class="col-md-3">
        Locations
          <ul>
          <% @location_recent.each do |location| %>
            <li><a href="/locations/<%= location.id%>"><%= location.city %></a></li>

        <% end %>
          </ul>
      </div>
      <div class="col-md-3">
        Events
          <ul>
          <% @event_recent.each do |event| %>
            <li><a href="/events/<%=event.id%>"><%= event.name %></a></li>

        <% end %>
          </ul>
      </div>
  </div>


    <div class="row">
      <div class="spacer100"></div>
    </div>

    <div class="row">
      <div class="spacer100"></div>
    </div>

    <div class="row">
      <div class="spacer100"></div>
    </div>

    <div class="row">
      <footer>&#169; Anna Pione 2014</footer>
    </div>

  </div>

