<!-- Simple full-width example-->

<div class="page-header">
  <h1>Contact<!--  #<%= @contact.id %> -->: <%= @contact.fullname %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
<!--       <dd><td><%= @contact.user.firstname %></td></dd> -->
      <dt>First Name</dt>
      <dd><%= @contact.firstname %></dd>

      <dt>Last Name</dt>
      <dd><%= @contact.lastname %></dd>

      <dt>Email</dt>
      <dd><%= @contact.email %></dd>

      <dt>Industry</dt>
      <dd><a href="/industries/<%=@contact.company.industry_id%>"><%= @contact.company.industry.name %></a></dd>

      <dt>Function</dt>
      <dd><a href="/functions/<%=@contact.function_id%>"><%= @contact.function.name %></a></dd>

      <dt>Company</dt>
      <dd><a href="/companies/<%=@contact.company_id%>"><%= @contact.company.name %></a></dd>

      <dt>Location</dt>
      <dd><a href="/locations/<%=@contact.location_id%>"><%= @contact.location.city %></a></dd>

      <dt>Job title</dt>
      <dd><%= @contact.job_title %></dd>

      <% if @contact.notes.present?  %>
        <dt>Notes</dt>
        <dd><%= @contact.notes %></dd>
      <% end  %>

      <dt>Events</dt>
          <dd>
            <ul>
              <% @contact.events.uniq.each do |event| %>
              <% if current_user.events.include?(event) %>
                <li><a href="/events/<%=event.id%>"><%= event.name %></a></li>
              <% end %>
              <% end %>
            </ul>
          </dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/contacts" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>


  <dt></dt>
  <dd>
   <!-- Code for Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var map;
      function initialize() {

        var myLatlng = new google.maps.LatLng(<%=@lat%>, <%=@lng%>);

        var mapOptions = {
          zoom: 10,
          center: myLatlng
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: '<%= @contact.location.city %>'
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div id="map-canvas"></div>
  </dd>
<!-- End simple full-width example-->


